@import url('reset.css');

:root {
  --body-backgroud-color: #000;
  --body-font-color: #fff;
}

html {

}

body {
  width: 100%;
  font-size: 16px;
  background-color: var(--body-backgroud-color);
  color: var(--body-font-color)
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}
